.option {
  width: 100%;
  border-bottom: 2px solid #5ecee2;
  display: flex;
  flex-direction: column;
}

.option_content {
  overflow: hidden;
}

.option_inner {
  padding: 2rem 2rem 4rem 2rem;
}

.title_wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.title {
  font-size: 2rem;
}

.expand_icon {
  font-size: 2rem;
  color: "#000000";
  transition: color 250ms ease-in-out;

  &.expanded {
    transform: rotate(180deg);
    color: #5ecee2;
  }
}
